body{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

#id_name{
    color: rgb(255,0,0);
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    padding:10px ;
    position: relative;
}

.class_name{
    color: #0f0;
    background-color:salmon;
    height: 300px;
    width: 300px;
    position: relative;
}

p{
    position: relative;
    color: #00f;
    background-color: maroon;
    height: auto;
    width: auto;
    margin: 200px;
    padding: 250px;
    border: 10px dotted blue;
    border-radius: 50%;
}